* {
  box-sizing: border-box;
}

.card__image {
  width: 150px;
  border: 1px solid #6b5738;
}
.card {
  width: 150px;
  background-color: aliceblue;
}
.foodname {
  display: flex;
  justify-content: center;
}
