.menu {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  list-style: none;
  visibility: hidden;
  position: absolute;
  right: 0.5rem;
  border: 0.5px solid #6b5738;
  @media (min-width: 640px) {
    flex-direction: row;
    visibility: initial;
    border: none;
    text-align: center;
    position: absolute;
    top: 2.5%;
  }
  a {
    color: #414a2b;
    text-decoration: none;
    text-align: center;
  }
}
nav:hover {
  .menu {
    visibility: visible;
    background-color: #ede9d5;
  }
}
.burgermenu {
  width: 2.5rem;
  display: initial;
  @media (min-width: 640px) {
    display: none;
  }
}
