form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.5rem;
  .formline {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
}
.form__input {
  width: 15rem;
  border-style: none;
  border-bottom: solid;
  border-color: #617143;
  background-color: #ede9d5;
}
.form__image {
  padding-top: 1rem;
}
