.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ede9d5;
  .header__div {
    display: flex;
    flex-direction: row;
  }
  .header__image {
    width: 40px;
  }
  &__title {
    color: #414a2b;
  }
  &__menu {
    align-items: center;
    list-style: none;
  }
}
