.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #764335;
  padding-bottom: 1rem;
  .header__div {
    display: flex;
    flex-direction: row;
  }
  .header__image {
    width: 80px;
    position: absolute;
    top: -1rem;
  }
  &__title {
    color: whitesmoke;
    padding-left: 80px;
  }
  &__menu {
    align-items: center;
    list-style: none;
  }
}
