.cardcontainer {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  gap: 2rem;
  @media (min-width: 550px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .pagebuttons {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
  }
  .filterbuttons {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    gap: 2rem;
  }
}
